<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cocote>
            <general>
                <map_name>name</map_name>
                <map_mpn>sku</map_mpn>
                <map_gtin></map_gtin>
                <map_description>description</map_description>
                <map_manufacturer>manufacturer</map_manufacturer>
            </general>
            <generate>
                <path>feed</path>
            </generate>
        </cocote>
        <carriers>
            <cocote>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Cocote\Feed\Model\Carrier\Shipping</model>
                <name>Cocote Shipping Method</name>
                <price>10.00</price>
                <title>Cocote Shipping Method</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
            </cocote>
        </carriers>
        <payment>
            <cocote>
                <active>0</active>
                <title>Cocote</title>
                <order_status>pending</order_status>
                <instructions>Instruction.</instructions>
                <payment_action>true</payment_action>
                <model>Cocote\Feed\Model\Payment\Cocote</model>
                <group>offline</group>
            </cocote>
        </payment>
    </default>
</config>